e2324ebd7b4cf3039d937281954abfa0699eba13/xml/listing.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT listing (movie*)>
<!ELEMENT movie (mtitle,genre,cast,location,price,description,image,video)>
<!ELEMENT mtitle (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT cast (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT description (#PCDATA)>
<!ELEMENT image (#PCDATA)>
<!ELEMENT video (#PCDATA)>
<!ATTLIST movie id CDATA #REQUIRED>

